.messageBOX{
    background-color: gainsboro;
    width: 50%;
    padding: 10px;
    margin: 18px;
    border-radius: 5px;
    display: inline-block;
    clear: both;

}
.right{
    float: right;
    background-color: crimson;
    color: white;
}
.left{
    float: left;
    background-color: #5db25d;
}